body { 
    color: #333; 
    font-weight: bold; 
    font-size: 18px; 
    background: rgb(149, 204, 61); 
    /* background-image: url("../img/bg.jpg"); 
    background-size: cover;  */
    height: 100vh;
}

span { 
	color: #333; 
} 
::-webkit-input-placeholder { 
	color: #333
}
#main { 
    position: absolute; 
    /* top: 40%; 
    right: 60px;  */
    width: 400px; 
    border: 0px solid #333; 
    padding: 40px; 
}
#main div { 
	margin: 10px; 
} 
#input { 
    border: 0; 
    background: #fff; 
    padding: 5px; 
    border: 1px solid #333; 
}